################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/P4WPF/P4WPF/obj/Debug/MedewerkerMenu.baml
