P4WPF/.vs/P4WPF/v16/.suo
P4WPF/P4WPF/obj/Debug/AddIngredient.baml
P4WPF/P4WPF/obj/Debug/App.g.cs
P4WPF/P4WPF/obj/Debug/App.g.i.cs
P4WPF/P4WPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
P4WPF/P4WPF/obj/Debug/IngredientEdit.baml
P4WPF/P4WPF/obj/Debug/MainWindow.baml
P4WPF/P4WPF/obj/Debug/Management.baml
P4WPF/P4WPF/obj/Debug/MedewerkerMenu.baml
P4WPF/P4WPF/obj/Debug/P4WPF_MarkupCompile.cache
P4WPF/P4WPF/obj/Debug/P4WPF_MarkupCompile.lref
P4WPF/P4WPF/obj/Debug/P4WPF.csprojAssemblyReference.cache
